@model GuildCars.UI.Models.CarModelAddViewModel
@{
    ViewBag.Title = "Models_Admin";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Car Models</h2>

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["Fail"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["Fail"]</p>
        }
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        @using (Html.BeginForm("Models_Admin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddModel" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>New Model</label>
                @Html.TextBoxFor(m => m.CarModel.CarModelName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Make</label>
                @Html.DropDownListFor(m => m.CarModel.CarMakeId, Model.CarMakes, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>



<div class="row">
    <div class="col-xs-10">
        @if (Model.CarModels.Any())
        {
            <table style="width: auto;" class="table table-bordered table-striped">
                <thead>
                    <tr style="background-color: darkgray">
                        <th>
                            Make
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Date Added
                        </th>
                        <th>
                            User
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Model.CarModels)
                    {
                        <tr>
                            <td>@vehicle.CarMakeName</td>
                            <td>@vehicle.CarModelName</td>
                            <td>@vehicle.CarModelAddedDate.ToString("dd, MMM yyy")</td>
                            <td>@vehicle.UserEmail</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>You do not have any Car Models</p>
        }
    </div>
</div>

